body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100%; 
    background: linear-gradient(to top, #000080, #87CEEB);
    scroll-behavior: smooth;
  }
  
  .zone {
    min-height: 100vh;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .fish {
    font-size: 2em;
    font-family: 'MS Mincho';
    color: black;
    margin: 10px 0;
    opacity: 0;
    transform: translateY(20px);
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
  
  .zone:target .fish {
    opacity: 1;
    transform: translateY(0);
  }
  
  @keyframes swim-normal{}
  @keyframes swim-straight{
    0% { transform: translateX(0); }
  100% { transform: translateX(100vw); }
  }
  @keyframes walk{
    0%, 100% { transform: translateX(0); }
  50% { transform: translateX(50vw); }
  }
  .fish-straight {
    animation: swim-straight 5s linear infinite;
  }
  
  .fish-walk {
    animation: walk 10s linear infinite;
  }
  header, main {
    display: none;
  }
  